body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cd{
  border: none;
}
.cd{
  background-color: transparent;
  color: black;
}
.cd:hover{
  background-color: blue;
  color: white;
}
.ef{
  text-decoration: none;
  color: black;
}
.ef:hover{
  text-decoration: none;
  color: white;
}